{% extends 'loginBase.html' %}

{% load static %}
{% block title %}Login|Sample Cafe{% endblock %}
{% block header %}
{% endblock %}
{% block contents %}
  <div class="card text-center" style="width: 20rem; margin : 0 auto">
    <div class="card-body">
    <form class="form-signin" method="post">{% csrf_token %}
      {{ form.errors }}
      <img class="mb-4" src="{% static 'assets/favicon.ico' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
      </div>
</div>
{% endblock %}
