<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Top</title>
 
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom styles for this template -->
  </head>
 
  <body>
 
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Top</h1>
      <a class="btn btn-link" href="{% url 'logout' %}">logout</a>
    </main>
 
  </body>
</html>